<h1><%= @user.name %></h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :profpic %><br>
    <%= f.file_field :profpic %>
  </div>

  <div class="field">
    <%= f.label :remote_image_url, "or image URL" %><br>
    <%= f.text_field :remote_image_url %>
  </div>
<% end %>
