<div class="page ng-scope">

    <section class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <span class="glyphicon glyphicon-th"></span>
          <span data-i18n="Add New Hunt"></span>
            <a href="#" class="addnewapt" ng-click="isCollapsed = !isCollapsed">
               <i class="fa fa-plus"></i> </a></span></strong>
            </div>
            <div class="panel-body">
              <div collapse="!isCollapsed" class= "newhuntcollapse" >
             <%= render 'hunts/form' %>
              </div>
            </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> All Hunts</strong></div>
        <div class="panel-body ng-scope" data-ng-controller="RatingDemoCtrl">

      <table class="responsive table table-striped">
        <thead>
          <tr>
            <th>Hunt Name</th>
            <th>Collaborators</th>
            <th>Start Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @hunts.uniq.each do |hunt| %>
            <tr>
              <td><%= link_to "#{hunt.title}", hunt %></td>
              <td><% hunt.users.uniq.each do |user| %>
                <%= user.name %>
              <%end%>
              </td>
              <td><%=hunt.created_at.strftime("%m/%d/%Y")%></td>
              <td><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
              <td><%= link_to 'Delete', hunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      </div>
    </section>
</div>
